[Unit]
Description=ngrok service
After=network.target

[Service]
ExecStart=/home/{{ ansible_user }}/ngrok.d/ngrok tcp {{ ssh_port_number }}
ExecReload=/bin/kill -HUP $MAINPID
KillMode=process
Restart=always
RestartSec=3
Type=simple
User={{ ansible_user }}

[Install]
WantedBy=multi-user.target